---
import MaterialLayout from '../../layouts/MaterialLayout.astro';
---

<MaterialLayout title="Iniciar sesión: Cuentas de Google" script="/scripts/password.js">
  <h1 class="roboto-regular mt-24">Te damos la bienvenida</h1>
  <div class="flex justify-space-between mt-24">
    <div>
      <md-assist-chip label="">
        <md-icon slot="icon">account_circle</md-icon>
      </md-assist-chip>
    </div>
    <form class="flex flex-column">
      <md-outlined-text-field label="Introduce tu contraseña" type="password" required/>
      <label class="roboto-regular flex align-center text-small">
        <md-checkbox touch-target="wrapper" />
        Mostrar contraseña
      </label>
      <div class="flex btn-group mt-64">
        <md-text-button type="button" id="secondaryBtn">
          ¿Has olvidado tu contraseña?
        </md-text-button>
        <md-filled-button type="submit">
          Siguiente
        </md-filled-button>
      </div>
    </form>
  </div>
</MaterialLayout>
